{% form_theme formRestaurant 'bootstrap_5_layout.html.twig' %}


<h1>
	Liste des restaurants :
</h1>


{% for restaurant in restaurants %}

	<p>{{restaurant}}</p>

{% endfor %}


<h1>
	Ajout d'un nouveau restaurant :
</h1>

{{form_start(formRestaurant)}}
{{form_widget(formRestaurant)}}
{{form_end(formRestaurant)}}


<h1>
	Affichage aléatoire d'un restaurant :
</h1>

<button class="btn btn-default" id="go">
	Lancer la sélection aléatoire
</button>
{% for restaurant in restaurants %}


	{% set restaurant = random(restaurants)%}


	{{restaurant}}

{% endfor %}
